{% extends 'base.html' %}

{% block title %}Merchant Dashboard{% endblock %}

{% block content %}

<div class="container mt-5">
    <h1>Merchant Dashboard</h1>
    <h4>For the Date {{today}}</h4>

    {% for message in messages %}
    {% include 'messages.html' %}
    {% endfor %}



    <p><strong>Total Income :</strong> <span class="text-success" style="font-weight: bold;">
            {{ total_income }}</span></p>
    <p><strong>Total Expenses:</strong> <span class="text-danger" style="font-weight: bold;">
            {{ total_expense }}</span></p>
    <p><strong>Total Outstanding Credit:</strong> <span class="text-warning"
            style="font-weight: bold;">{{ total_credit }}</span>
    </p>

    <!-- form for getting getting new sale  -->
    <div class="add-transaction">
        <h2>Add Transaction</h2>
        <form class="form-inline row" method="POST" action="/add_transaction" class="inline-form">
            {% csrf_token %}
            <input class="form-control col" type="text" name="customer" placeholder="Customer Name" required>
            <input class="form-control col" type="number" name="amount" placeholder="Amount" step="0.01" required>
            <select class="form-control col" name="type" required>
                {% for type in transaction_types %}
                <option value="{{ type.0 }}">{{ type.1 }}</option>
                {% endfor %}
            </select>
            <input class="form-control col" type="text" name="description" placeholder="Description" required>
            <button class="btn btn-primary col" type="submit">Add</button>
        </form>
    </div>



    <h2>Transactions</h2>
    <table class="table">
        <thead>
            <tr>
                <th>TrID #</th>
                <th>Customer</th>
                <th>Amount</th>
                <th>Description</th>
                <th>Type</th>
                <th>Date</th>
                <th>Sales Person</th>
            </tr>
        </thead>
        <tbody>
            {% for transaction in page_obj %}
            <tr>
                <td> <a href="/transactions/{{transaction.id}}"> {{transaction.id}}</a></td>
                <td><a href="{% url 'customer_details' transaction.customer.id %}">{{ transaction.customer.name }}</a>
                </td>
                <td>{{ transaction.description }}</td>
                <td>{{ transaction.type }}
                    {% if transaction.type == 'credit' %}
                    /
                    {% if transaction.is_paid %}Paid{% else %}Not Paid{% endif %}
                    {% endif %}
                </td>
                <td>{{ transaction.date_time }}</td>
                <td>{{ transaction.amount }}</td>

                <td>{{ transaction.salesperson.username }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <!-- Pagination Navigation -->
    <div class="pagination">
        {% if page_obj.has_previous %}
        <a href="?page={{ page_obj.previous_page_number }}">Previous</a>
        {% endif %}

        <span>Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}</span>

        {% if page_obj.has_next %}
        <a href="?page={{ page_obj.next_page_number }}">Next</a>
        {% endif %}
    </div>
</div>

{% endblock %}