<form method="GET" action="{% url 'search_results' %}">
    <div class="row mb-3">
        <div class="col-md-4">
            <input type="text" class="form-control" name="customer" placeholder="Search by Customer Name">
        </div>
        <div class="col-md-4">
            <select id="salesperson" name="salesperson" class="form-select">
                <option value="">Sales Man(All)</option>
                {% for salesperson in salespersons %}
                <option value="{{ salesperson.id }}"
                    {% if request.GET.salesperson == salesperson.id|stringformat:"s" %}selected{% endif %}>
                    {{ salesperson.get_full_name|default:salesperson.username }}
                </option>
                {% endfor %}
            </select>
        </div>
        <div class="col-md-4">

            <select id="type" name="type" class="form-select">
                <option value="">Transaction Type (All)</option>
                {% for key, value in transaction_types %}
                <option value="{{ key }}" {% if request.GET.type == key %}selected{% endif %}>{{ value }}</option>
                {% endfor %}
            </select>
        </div>
    </div>
    <div class="row mb-3">
        <div class="col-md-6">
            <input type="text" class="form-control" name="description" placeholder="Search by Description">
        </div>
        <div class="col-md-3">
            <!-- <span>Date</span> -->
            <input type="date" class=" form-control" id="date" name="date">
        </div>
    </div>
    <button type="submit" class="btn btn-primary">Search</button>
</form>